$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$intro-color: #ffc100; //preloader bg color
$color-clean: #fed501; // brand color
$sidebar-bg: #434244;
$sidebar-col: 8;
$nav-height: 56px;

//=====================//
//    Mixin
//=====================//

@mixin animation($key, $duration, $timing, $delay ,$iteration, $direction){
  -webkit-animation: $key $duration $timing $delay $iteration $direction;
          animation: $key $duration $timing $delay $iteration $direction;
}

@mixin rotate($keyname, $from, $to) {
  @-webkit-keyframes #{$keyname} {
    from {
      -webkit-transform: rotate($from);
    }
    to {
      -webkit-transform: rotate($to);
    }
  }

  @-ms-keyframes #{$keyname} {
    from {
      -ms-transform: rotate($from);
    }
    to {
      -ms-transform: rotate($to);
    }
  }

  @keyframes #{$keyname} {
    from {
      transform: rotate($from);
    }
    to {
      transform: rotate($to);
    }
  }
}

@mixin transition($delay) {
  -webkit-transition: all $delay ease-out;
        -o-transition: all $delay ease-out;
            transition: all $delay ease-out;
}

@mixin sidebar($sidebar, $sidebar-col, $sidebar-delay) {
  
  .row-offcanvas {
    position: relative;
    @include transition($sidebar-delay);
  }

  .row-offcanvas-#{$sidebar} {
    #{$sidebar}: 0;
    &.active {
      #{$sidebar}: ($sidebar-col/12) * 100%;
    }
    .sidebar-offcanvas {
      #{$sidebar}: -(($sidebar-col/12) * 100%);
    }
  }

  .sidebar-offcanvas {
    position: absolute;
    width: ($sidebar-col/12) * 100%;
    background-color: $sidebar-bg;
    height: 100%;
  }

}

//=====================//
//    utilityClass
//=====================//

.rm-margin {
  margin: 0;
}

.padding-l {
  padding: 0 0 0 20px;
}

//=====================//
//    preLoading
//=====================//

/*------------- 

    preLoading 

--------------*/


#preloader {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: $intro-color;
  z-index:1040;
}

%spin {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  border:9px solid #fff;
  border-color:transparent #fff;
  margin:auto;
}

.spinner {
  @extend %spin;
  width:85px;
  height:85px;
  @include animation(spin, 2.2s, linear, 0s, infinite, normal);
}

.spinner-inner {
  @extend %spin;
  width:40px;
  height:40px;
  @include animation(spinback, 1.2s, linear, 0s, infinite, normal);
}


@include rotate(spin, 0, 360deg);

@include rotate(spinback, 0, -360deg);

//=====================//
//    NavigationBar
//=====================//

/*------------- 

    navBar 

--------------*/

.navbar {
  margin-bottom: 0;
}

.navbar-clean {
  background-color: $color-clean;
  border: none;
  li>a {
    color: white;
    height: $nav-height;
    line-height: $nav-height/2;
    &:hover {
      background-color: rgba(255, 255, 255, .2);
    }
    &:focus {
      background-color: rgba(255, 255, 255, .2);
    }
  }
  .navbar-toggle {
    border-radius: 0;
    background-color: rgba(255, 255, 255, .2);
    padding: 20px;
    .icon-bar {
      background-color: white;
    }
  }
}

.navbar-brand {
  height: $nav-height;
  line-height: $nav-height/2;
}

//=====================//
//    sideBar
//=====================//

/*------------- 

    sideBar

--------------*/

@include sidebar(left, $sidebar-col, .25s);

.sidebar {
  li>a {
    color: white;
    &:hover {
      background-color: rgba(0, 0,0, .2);
    }
    &:focus {
      background-color: rgba(0, 0, 0, .2);
    }
  }
}