$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


//=====================//
//    Mixin
//=====================//

@mixin animation($key, $duration, $timing, $delay ,$iteration, $direction){
  -webkit-animation: $key $duration $timing $delay $iteration $direction;
  animation: $key $duration $timing $delay $iteration $direction;
}

@mixin rotate($keyname, $from, $to) {
  @-webkit-keyframes #{$keyname} {
    from {
      -webkit-transform: rotate($from);
    }
    to {
      -webkit-transform: rotate($to);
    }
  }

  @-ms-keyframes #{$keyname} {
    from {
      -ms-transform: rotate($from);
    }
    to {
      -ms-transform: rotate($to);
    }
  }

  @keyframes #{$keyname} {
    from {
      transform: rotate($from);
    }
    to {
      transform: rotate($to);
    }
  }
}


//=====================//
//    Preloading
//=====================//

$intro-color: #ffc100;


#preloader {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: $intro-color;
  z-index:1040;
}

%spin {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  border:9px solid #fff;
  border-color:transparent #fff;
  margin:auto;
}

.spinner {
  @extend %spin;
  width:85px;
  height:85px;
  @include animation(spin, 2.2s, linear, 0s, infinite, normal);
}

.spinner-inner {
  @extend %spin;
  width:40px;
  height:40px;
  @include animation(spinback, 1.2s, linear, 0s, infinite, normal);
}


@include rotate(spin, 0, 360deg);

@include rotate(spinback, 0, -360deg);

//=====================//
//    NavigationBar
//=====================//