$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(http://fonts.googleapis.com/css?family=Bree+Serif);  //use at sub-cover
@import url(http://fonts.googleapis.com/css?family=Oleo+Script); //use at my name
@import url(http://fonts.googleapis.com/css?family=Berkshire+Swash);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(/bower_components/SourceSansPro/SourceSansPro.css);

//=====================//
//    Variables
//=====================//
$dark: #28272b;
$deep-red: #a31F42;
$deep-blue: #133848;
$light-grey: #eee;
$strong-yellow: #ffbc00;
$warm-red: #e25454;
$warm-red-light: lighten($warm-red, 2%);
$warm-pink: #f3afaf;
$peach: #ff836c;
$sun-flower: #f1c40f;
$black-grey: #333;

//=====================//
//    Variables
//=====================//

$preload-color: $deep-red; //preloader bg color
$brand-color: $deep-red; // brand color
$toggle-color: white;

$nav-height: 56px;
$navbar-toggle-bg: $warm-red;

$sidebar-bg: $light-grey;

$text-hilight: darken($warm-red, 2%);

$btn-dark: $deep-blue;
$btn-dark-hover: lighten($deep-blue, 10%);

$sub-cover: $warm-red-light;

//=====================//
//    Mixin
//=====================//

@mixin animation($key, $duration, $timing, $delay ,$iteration, $direction){
  animation: $key $duration $timing $delay $iteration $direction;
}

@mixin rotate($keyname, $from, $to) {
  @keyframes #{$keyname} {
    from {
      transform: rotate($from);
    }
    to {
      transform: rotate($to);
    }
  }
}

@mixin transition($delay) {
  transition: all $delay ease-out;
}

@mixin sidebar($sidebar, $sidebar-w,$sidebar-delay) {
  
  .row-offcanvas {
    position: relative;
  }

  .sidebar-offcanvas {
    background-color: $sidebar-bg;
    box-shadow: -3px 0 3px rgba(0, 0, 0, 0.3);
    width: $sidebar-w;
    height: 100%;
    position: fixed;
    margin-top: $nav-height;
    padding-right: 0;
    padding-left: 0;
    z-index: 999;
    #{$sidebar}: -($sidebar-w);
    @include transition($sidebar-delay);
    &.active {
      #{$sidebar}: 0;
    }
  }
}

//=====================//
//    general
//=====================//

html,
body {
  height: 100%;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 320px;
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'SourceSansProBlack';
  }
  p {
    color: #777;
  }
}

.flat-theme {
  font-family: 'SourceSansProRegular';
  font-size: 18px;
}

//=====================//
//    utilityClass
//=====================//

.box-shadow {
  box-shadow: 1px 1px 1px rgba($black-grey, .4);
}

.bd-rd-sm {
  border-radius: 5px;
}

.box-shadow-top {
  box-shadow: 0 -2px 5px rgba(darken($warm-red, 35%), .4);
}

/*-- strech background to parents width & height --*/
.bg-fit {
  min-height: 320px;
  &:before,
  &:after {
    height: 100%;
    content:  " ";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
  }
  &:before {
    z-index: -1;
  }
  &:after {
    z-index: -999;
  }
}

.full-height {
  height: 100%;
}

.full-screen {
  height: 100%;
  width: 100%;
}

.content-middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.bd-sm {
  border: 1px solid rgba($light-grey, .15);
}

.mg-top-md {
  margin-top: 30px;
}

.mg-r-sm {
  margin-right: 15px;
}

.mg-btm-md {
  margin-bottom: 30px;
}

.mg-top-md {
  margin-top: 50px;
}

.section {
  padding-top: 100px;
}

.card {
  box-shadow: 2px 2px 4px rgba(darken($light-grey, 30%), .6);
  border: 1px solid rgba(black, .1);
  padding: 20px;
  margin-bottom: 20px;
  &#{-light} {
    background-color: lighten($light-grey, 3%);
  }
}

.img-box {
  margin: 0 auto;
  background-size: cover;
}

.box-circle {
  border-radius: 50%;    
}

.btn-dark {
  background-color: $btn-dark;
  &:hover,
  &:focus {
    color: rgba(255, 255, 255, .8);
    background-color: $btn-dark-hover;
  }
}


.bg-dotted {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGUlEQVQIW2NkYGBIA+JZQAwHjMgcGJtCQQBkPAEG7KLCcwAAAABJRU5ErkJggg==) repeat;
}

.rm-mg {
  margin: 0;
}

.text-hilight {
  color: $text-hilight;
}

.text {
  &#{-md} {
    font-size: 14px;
    @media (min-width: 768px) {
      font-size: 24px;
    }
  }
  &#{-lg} {
    font-size: 18px;
    @media (min-width: 768px) {
      font-size: 36px;
    }
  }
}

.light-grey {
  color: $light-grey;
}



//=====================//
//    preLoading
//=====================//

/*------------- 

    preLoading 

--------------*/


#preloader {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: $preload-color;
  z-index:1040;
}

%spin {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  border:9px solid #fff;
  border-color:transparent #fff;
  margin:auto;
}

@include rotate(spin, 0, 360deg);

.spinner {
  @extend %spin;
  width:85px;
  height:85px;
  @include animation(spin, 2.2s, linear, 0s, infinite, normal);
}

@include rotate(spinback, 0, -360deg);


.spinner-inner {
  @extend %spin;
  width:40px;
  height:40px;
  @include animation(spinback, 1.2s, linear, 0s, infinite, normal);
}


//=====================//
//    NavigationBar
//=====================//

/*------------- 

    navBar 

--------------*/

.navbar {
  margin-bottom: 0;
}

.navbar-flat {
  background-color: $light-grey;
  border: none;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.8);
  li {
    border-left: 1px solid rgba(255, 255, 255, .1);
  }
  li > a {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, .02);
    height: $nav-height;
    line-height: $nav-height / 2;
    font-weight: bold;
    &:hover,
    &:focus {
      color: white;
      background-color: $navbar-toggle-bg;
    }
  }
  .navbar-toggle {
    display: block !important; // don't hide.
    border: none;
    border-radius: 0;
    background-color: $deep-red;
    padding: ($nav-height - 14)/2;
    .icon-bar {
      background-color: $toggle-color;
    }
  }
  .navbar-brand {
    color: white;
    height: $nav-height;
    line-height: $nav-height/2;
  }
}

//=====================//
//    sideBar
//=====================//

/*------------- 

    sideBar

--------------*/

.sidebar {
  .glyphicon {
    padding-right: 15px;
  }
  li {
    border-bottom: 1px solid #ddd;
  }
  li > a {
    padding: 20px 0 20px 30px;
    color: #777;
    font-size: 18px;
    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, .1);
      color: #333;
    }
  }
}

@include sidebar(right, 260px,.25s);

//=====================//
//    top-cover
//=====================//

/*------------- 

    top-cover

--------------*/
.cover {
  .logo-text {
    font-family: 'impact';
    color: white;
    text-shadow: 0 2px 0 rgba(darken($warm-red, 80%), .4);
    font-size: 38px;
    @media (min-width: 768px) {
      font-size: 72px;
    }
    @media (min-width: 1280px) {
      font-size: 112px;
    }
    &#{-hilight} {
      color: $light-grey;
      background-color: $deep-red;
      padding: 0 18px 0 18px;
    }
  }
  .sub-logo {
    margin: 60px auto 0 auto;
    @media (max-height: 480px) {
      margin-top: 20px;
    }
  }
  .sub-logo-block {
    background-color: rgba(white, .1);
    width: 100%;
    padding: 20px;
    white-space:nowrap;
  }
  .my-name {
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    color: white;
    letter-spacing: 2px;
    @media (min-width: 768px) {
      font-size: 28px;
    }
    @media (min-width: 1280px) {
      font-size: 32px;
    }
  }
  .caption {
    font-size: 12px;
    color: opacify(rgba(255, 255, 255, 0.3), 0.3);
    font-family: 'SourceSansProRegular';
    letter-spacing: 2px;
    @media (min-width: 768px) {
      font-size: 18px;
    }
  }
}

.cover-bg {
  color: white;
  &:before {
    background: linear-gradient(90deg, rgba($dark, 0.6), rgba($dark, 1));
  }
  &:after {
    z-index: -999;
    background: url(/image/cover-3.jpg); // Declar this first.
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
  }
}


/*------------- 

    social-icon

--------------*/

.social-icon-grp {
  margin-top: 50px;
}

.icon {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 0 22px 0 0;
  width: 76px;
  height: 76px;
  font-size: 0;
  text-indent: -9999px;
}

.icon-mono {
  border-radius: 60px;
  background: url(/image/icons1.png);
  background-image: url(/image/icons1.svg), none;
  background-color: #595959;
  transition: background .3s;
  background-size: 480%;
}

.facebook {
  background-position: 0 0;
  &:hover {
    background-color: #3b5998;
    background-position: 0 -76px;
  }
}

.twitter {
  background-position: -70px 0;
  &:hover {
    background-color: #4099ff;
    background-position: -70px -76px;
  }
}

.googleplus {
  background-position: -142px 0;
  &:hover {
    background-color: #d34836;
    background-position: -142px -76px;
  }
}

//=====================//
//    services
//=====================//

.skill-bar {
  list-style: none;
  padding: 0;
}

.icon-skill {
  display: block;
  width: 138px;
  height: 138px;
  background-image: url(/image/webdev-icon.png);
  text-indent: -9999;
  font-size: 0;
  position: absolute;
}

.box-service {
  width: 180px;
  height: 180px;
  border-radius:100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.icon-html {
  background-size: 200%;
  background-position: 22px -20px;
  clip: rect(0px, 120px, 205px, 25px);
}

.icon-css {
  background-size: 200%;
  background-position: 118px -20px;
  clip: rect(0px, 120px, 205px, 25px);
}

.icon-js {
  background-size: 200%;
  background-position: 205px 13px;
  clip: rect(0px, 118px, 205px, 25px);
}

.icon-jquery {
  background-image: url(/image/jquery-icon.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 14px 10px;
}

.icon-sass {
  background-image: url(/image/sass-icon.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 16px 26px;
}

.icon-ps {
  background-image: url(/image/ps-icon.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 20px 20px;
}

.icon-ai {
  background-image: url(/image/ai-icon.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 20px 20px;
}

.icon-ae {
  background-image: url(/image/ae-icon.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 20px 20px;
}

.icon-maya {
  background-image: url(/image/maya-icon.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 20px 20px;
}

.pie-site:before {
  content: " ";
  display: block;
  background-color: #d8d8d8;
  position: absolute;
  width: 200px;
  height: 200px;
  margin: auto;
  z-index: -999;
  left: 95px;
  top: -10px;
  border-radius: 50%;
}

.pie-site>#slice {
  position:absolute;
  width:1em;
  height:1em;
  clip:rect(0px,1em,1em,0.5em);
}

.pie-site>#slice.gt50 {
  clip:rect(auto,auto,auto,auto);
}

.pie-site>#slice>.pie {
  position:absolute;
  border:.1em solid #444;
  width:.8em;
  height:.8em;
  clip:rect(0em,0.5em,1em,0em);
  border-radius:.5em;
}

.pie-site>#slice>.pie.fill {
  transform:rotate(180deg)!important;
}

//=====================//
//    quote-block
//=====================//

.quote-block {
  width: 100%;
  height: 150px;
  background-image: linear-gradient(45deg,#FC736E 0,#810032 100%);
}

.quote-text {
  font-size: 18px; 
  color: $light-grey; 
  font-family: "Helvetica";
  letter-spacing: 5px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
}

//=====================//
//    services-box
//=====================//



.service-sec {
  border-bottom: 1px solid #eee;
  margin: 0 20px;
  padding: 80px 0 90px;
}



.img {
    margin: 0 auto;
    width: 200px; 
    height: 200px; // make image show
    @media (min-width: 1021px) {
      width: 300px; 
      height: 200px;
    }
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  &#{-web-design} {
    background-image: url(/image/web-design.png);
  }
  &#{-graphic-design} {
    background-image: url(/image/graphic-design.png);
  }
  &#{-video-editor} {
    background-image: url(/image/video-editor.png);
  }
}

//=====================//
//    portfolio
//=====================//

.portfolio-navbar {
  ul {
  padding: 0;
    & > li {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

.portfolio-box {
  border: 1px solid #aaa;
  padding: 20px 20px 0 20px;
}

//=====================//
//    about us
//=====================//

.box-profile {
  border: 10px solid #fff;
  background-image: url(/image/profile-img.jpg);
  width: 200px;
  height: 200px;
}
