$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

//=====================//
//    Variables
//=====================//
$deep-blue: #133848;
$light-blue: #1c3a70;
$light-blue-2: #1e304f;
$light-grey: #eee;
$strong-yellow: #ffbc00;
$warm-red: #e25454;
$warm-red-light: darken($warm-red, 20%);
$sun-flower: #f1c40f;
$black-grey: #333;

//=====================//
//    Variables
//=====================//

$preload-color: $deep-blue; //preloader bg color
$brand-color: $deep-blue; // brand color
$toggle-color: white;

$nav-height: 56px;
$navbar-dark-focus: $warm-red;

$sidebar-bg: $light-grey;
$sidebar-col: 8;

$text-hilight: darken($warm-red, 2%);

$btn-dark-hover: $light-blue;

$sub-cover: $light-blue-2;

//=====================//
//    Mixin
//=====================//

@mixin animation($key, $duration, $timing, $delay ,$iteration, $direction){
  animation: $key $duration $timing $delay $iteration $direction;
}

@mixin rotate($keyname, $from, $to) {
  @keyframes #{$keyname} {
    from {
      transform: rotate($from);
    }
    to {
      transform: rotate($to);
    }
  }
}

@mixin transition($delay) {
  transition: all $delay ease-out;
}

@mixin sidebar($sidebar, $sidebar-delay) {
  
  .row-offcanvas {
    position: relative;
  }

  .sidebar-offcanvas {
    background-color: $sidebar-bg;
    box-shadow: -3px 0 3px rgba(0, 0, 0, 0.3);
    width: 260px;
    height: 100%;
    position: fixed;
    margin-top: $nav-height;
    padding-right: 0;
    padding-left: 0;
    z-index: 999;
    #{$sidebar}: -260px;
    @include transition($sidebar-delay);
    &.active {
      #{$sidebar}: 0;
    }
  }
}

//=====================//
//    general
//=====================//

html,
body {
  height: 100%;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 320px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'SourceSansProBlack';
}

.dark-theme {
  font-family: 'SourceSansProRegular';
  font-size: 18px;
}

p {
  color: #777;
}

.portfolio-navbar {
  ul {
  padding: 0;
    & > li {
      margin-bottom: 15px;
    }
  }
}

//=====================//
//    utilityClass
//=====================//

.box-shadow {
  box-shadow: 1px 1px 1px rgba($black-grey, .4);
}

.caption  {
  font-family: 'SourceSansProExtralt';
  letter-spacing: 8px;
}

.bd-rd-sm {
  border-radius: 5px;
}

.box-shadow-top {
  box-shadow: 0 -2px 5px rgba(darken($warm-red, 35%), .4);
}

.txt-shadow {
  text-shadow: 0 2px 3px rgba(0, 0, 0, .4);
}

.txt-shadow-strong {
  text-shadow: 0 2px 0 rgba(darken($warm-red, 30%), .4);
}

.txt-shadow-strong-2 {
  text-shadow: 0 2px 0 rgba(darken($warm-red, 30%), .4);
}

/*-- strech background to parents width & height --*/
.bg-fit {
  min-height: 320px;
  &:before,
  &:after {
    height: 100%;
    content:  " ";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
  }
  &:before {
    z-index: -1;
  }
  &:after {
    z-index: -999;
  }
}

.full-height {
  height: 100%;
}

.full-screen {
  height: 100%;
  width: 100%;
}

.content-middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.bd-sm {
  border: 1px solid $light-grey;
}

.bd-lg {
  border: 5px solid $warm-red;
}

.logo-text h1 {
  font-family: 'impact';
  color: lighten($warm-red, 25%);
}

.head-text-2 {
  font-family: 'Bree Serif', serif;
  letter-spacing: 2px;
}

.mg-top-md {
  margin-top: 30px;
}

.mg-r-sm {
  margin-right: 15px;
}

.mg-btm-md {
  margin-bottom: 30px;
}

.mg-top-md {
  margin-top: 50px;
}

.section {
  padding-top: 100px;
}

.card {
  box-shadow: 2px 2px 4px rgba(darken($light-grey, 30%), .6);
  border: 1px solid rgba(black, .1);
  background-color: white;
}

.img-box {
  margin: 0 auto;
  background-size: cover;
}

.box-circle {
  border-radius: 50%;    
}

.btn-dark {
  background-color: $brand-color;
  &:hover,
  &:focus {
    color: rgba(255, 255, 255, .8);
    background-color: $btn-dark-hover;
  }
}


.bg-dotted {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGUlEQVQIW2NkYGBIA+JZQAwHjMgcGJtCQQBkPAEG7KLCcwAAAABJRU5ErkJggg==) repeat;
}

.rm-mg {
  margin: 0;
}

.text-hilight {
  color: $text-hilight;
  &#{-logo} {
    color: white;
  }
}

.text {
  &#{-md} {
    font-size: 14px;
    @media (min-width: 768px) {
      font-size: 24px;
    }
  }
  &#{-lg} {
    font-size: 18px;
    @media (min-width: 768px) {
      font-size: 36px;
    }
  }
  &#{-header} {
    font-family: "BoonTook Ultra";
  }
}

.light-grey {
  color: $light-grey;
}



//=====================//
//    preLoading
//=====================//

/*------------- 

    preLoading 

--------------*/


#preloader {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: $preload-color;
  z-index:1040;
}

%spin {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  border:9px solid #fff;
  border-color:transparent #fff;
  margin:auto;
}

@include rotate(spin, 0, 360deg);

.spinner {
  @extend %spin;
  width:85px;
  height:85px;
  @include animation(spin, 2.2s, linear, 0s, infinite, normal);
}

@include rotate(spinback, 0, -360deg);


.spinner-inner {
  @extend %spin;
  width:40px;
  height:40px;
  @include animation(spinback, 1.2s, linear, 0s, infinite, normal);
}


//=====================//
//    NavigationBar
//=====================//

/*------------- 

    navBar 

--------------*/

.navbar {
  margin-bottom: 0;
}

.navbar-dark {
  background-color: $light-grey;
  border: none;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.8);
  li {
    border-left: 1px solid rgba(255, 255, 255, .1);
  }
  li > a {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, .02);
    height: $nav-height;
    line-height: $nav-height / 2;
    font-weight: bold;
    &:hover,
    &:focus {
      color: white;
      background-color: $navbar-dark-focus;
    }
  }
  .navbar-toggle {
    display: block !important; // don't hide.
    border: none;
    border-radius: 0;
    background-color: $navbar-dark-focus;
    padding: ($nav-height - 14)/2;
    .icon-bar {
      background-color: $toggle-color;
    }
  }
  .navbar-brand {
    color: white;
    height: $nav-height;
    line-height: $nav-height/2;
  }
}

//=====================//
//    sideBar
//=====================//

/*------------- 

    sideBar

--------------*/

.sidebar {
  .glyphicon {
    padding-right: 15px;
  }
  li {
    border-bottom: 1px solid #ddd;
  }
  li > a {
    padding: 20px 0 20px 30px;
    color: #777;
    font-size: 18px;
    &:hover,
    &:focus {
      background-color: rgba(0, 0, 0, .1);
      color: #333;
    }
  }
}

@include sidebar(right, .25s);

//=====================//
//    top-cover
//=====================//

/*------------- 

    top-cover

--------------*/

.cover-bg {
  color: white;
  &:before {
    background-color: rgba($warm-red, .8);
  }
  &:after {
    z-index: -999;
    background: url(/image/cover-3.jpg); // Declar this first.
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
  }
  .sub-logo {
    white-space:nowrap;
    margin-top: 60px;
    @media (max-height: 480px) {
      margin-top: 20px;
    }
  }
  .sub-logo-box {
    width: 250px;
    margin: 10px auto;
    padding: 20px;
    @media (min-width: 767px) {
      width: 350px;
    }
  }
  h1 {
    font-size: 52px;
    @media (min-width: 768px) {
      font-size: 72px;
    }
    @media (min-width: 1280px) {
      font-size: 112px;
    }
  }
  h3 {
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    @media (min-width: 768px) {
      font-size: 28px;
    }
    @media (min-width: 1280px) {
      font-size: 32px;
    }
  }
  p {
      color: white;
  }
}


//=====================//
//    services
//=====================//

.box-service {
  background-color: lighten($light-grey, 3%);
  padding: 20px;
  border-top: 10px solid $warm-red;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;

}

//=====================//
//    sub-cover
//=====================//

.dis-table {
  display: table-cell;
}

.sub-cover {
  width: 100%;
  height: 150px;
  background: $warm-red;
  @media (min-width: 768px) {
    height: 250px;
  }
}

//=====================//
//    services-box
//=====================//



.service-sec {
  border-bottom: 1px solid #eee;
  margin: 0 20px;
  padding: 80px 0 90px;
  h3 {
    color: #333;
  }
}



.img {
    margin: 0 auto;
    width: 200px; 
    height: 200px; // make image show
    @media (min-width: 1021px) {
      width: 300px; 
      height: 300px;
    }
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  &#{-web-design} {
    background-image: url('/image/web-design.png');
  }
  &#{-graphic-design} {
    background-image: url('/image/graphic-design.png');
  }
  &#{-video-editor} {
    background-image: url('/image/video-editor.png');
  }
}

//=====================//
//    portfolio
//=====================//

.portfolio-box {
  border: 1px solid #aaa;
  padding: 20px 20px 0 20px;
  .card {
    margin-bottom: 20px;
  }
}

//=====================//
//    about us
//=====================//

.box-profile {
  border: 10px solid #fff;
  background-image: url(/image/profile-img.jpg);
  width: 200px;
  height: 200px;
}
